<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twig</title>
</head>
<body>
<article>
    <header>
        <h1>
            {{ article.name }}
        </h1>
    </header>
   <p> {{ article.content }} </p>
    <footer>
        <time datetime="">{{ article.date|date('d-m-Y') }}</time>
    </footer>
</article>
</body>
</html>